.content {
	width: 1000px;
	height: auto;
	margin:0 auto 50px auto;
	border-left: 5px solid #474B4F;
	border-right: 5px solid #474B4F;
	border-bottom: 5px solid #474B4F;
	color: #FFF;
	text-align: left;
	overflow-y: auto;
}

.content * {
	margin: 5px 15px;
	margin-left: 5px 15px;
}

.content img{
	display: block;
}

.content p {
	display: block;
}
